html,
body {
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(86, 86, 86);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  height: 100%;
}

.locations-sidebar {
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 50px;
  width: calc(100% - 10px * 2); /* "hack" because box-sizing not working with width:100% for some reason */
  max-width: 100%;
  background-color: rgba(220, 220, 220, .85);
  /* border-radius to margin liberated from Google's styles */
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  padding: 11px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin: 10px;
  transition: max-height 1s;
  transition: max-width 1.5s;
}

locations-sidebar strong {
  float: left;
}

#map, .loading-error-message {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.loading-error-message {
  text-align: center;
  line-height: 100vh;
}

.locations-sidebar-minimized {
  transition: max-height 1s;
  transition: max-width 1s;
  max-height: 34px;
  max-width: 100px;
  overflow: hidden;
}

@media (min-width: 500px) {
  .locations-sidebar {
    padding: 8px;
    width: 33%;
  }

  .locations-sidebar-minimized {
    max-height: 28.8px;
  }
}

@media (min-width: 768px) {
  .locations-sidebar {
    width: 25%;
  }
}

.locations-sidebar .toggle::before {
  content: 'Hide';
  float: right;
  margin-top: 1px; /* workaround for float causing vertical position mismatch */
  font-size: 0.9em;
}

.locations-sidebar.locations-sidebar-minimized .toggle::before {
  content: 'Show';
}

.gm-style strong {
  font-weight: 500; /* match google style */
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.padding-vert-sm {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.clickable {
  cursor: pointer;
}

.linkish {
  color: blue;
}

.locations-sidebar input {
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  margin-left: 0.5em;
}

.locations-sidebar .venue-img {
  max-width: 100%;
  margin-top: 0.5em;
}

p:last-child {
  margin-bottom: 0;
}

hr {
  border:0;
  border-top: 1px solid lightgray;
}